.top-nav{
    display: flex;
    justify-content: space-between;
    color: black;
    height: 80px;
    align-items: center;
    padding: 0 50px;

    div{
        display: flex;
        gap: 30px;

        a{
            color: black;

            img{
                display: inline-block;
                width: 70px;
                height: auto;
            }
        }
    }
}