* {
    box-sizing: border-box;
    font-family: 'Familjen Grotesk', sans-serif;
}

.dot-wrapper{
    position: absolute;
    left: -10px;
    list-style-type: none;
    padding-left: 0;
    z-index: 2;
    margin: 10% 0;
}

.dot-wrapper .dot{
    margin: 20px 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 20px;
    box-shadow: var(--shadow-1);
    background-color: var(--black);
    cursor: pointer;
}

.dot-wrapper .dot img{
    width: 60px;
    height: auto;
}


.active, .dot-wrapper > .dot:hover{
    background-color: var(--mustard)!important;
}

.wrapper{
    background-color: var(--corn);
    min-height: 700px;
    margin: 0 5%;
    margin-bottom: 2%;
    border-radius: 32px;
    border: 3px solid rgb(255,255,255,0.4);
    position: relative;
}

.slide{
    display: none;
    padding: 50px;
    border-radius: 16px;
    
}

.slide-intro{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.heading{
    z-index: 2;
    max-width: 500px;
}
.slide-intro div h1{
    font-size: 5em;
    color: var(--orange-web);
    margin: 0;
    padding:0;
    font-weight: 900;
}

.slide-intro div h1:nth-child(2){
    margin-top: -30px;

}
    
.slide-intro div h2{
    font-weight: 100;
    margin: 0;
    font-style: italic;
    color: var(--orange-web);
    /*text-shadow: -2px 2px 2px  rgb(0,0,0,0.2);*/
}

.heading button{
    background-color: var(--black);
    border-radius: 12px;
    border: none;
    display: block;
    width: 300px;
    color: var(--corn);
    padding: 12px;
    margin: 10px 0;
    box-shadow: var(--shadow-1);
    cursor: pointer;
    font-weight: 900;
}

.heading button:hover{
    background-color: var(--mustard);
    color: var(--black);
}

.img-outer{
    width: 400px;
    height: 400px;
    background-color: var(--mustard);
    border-radius: 50%;
    margin-left: -80px;
}

.img-inner{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: var(--corn);
    margin: 12% auto;
    position: relative;
}

.img-inner img {
    margin-left: -80px;
    margin-top: -50px;
    position: absolute;
}

/* SLIDE ANIMATION */
.fade {
    animation-name: slide;
    animation-duration: 2s;
    transition: ease-in;
  }
  
  @keyframes slide {
    from {margin-right: -500px;
    opacity: 0;}
    to {margin-right: 0; opacity: 1;}
  }

.invisible-heading{
    position: absolute;
    bottom: -200px;
    right:0;
    font-size: 8em;
    color: var(--corn);
    text-shadow: -2px 2px 2px  rgb(0,0,0,0.2);
    z-index: 2;
}

.menu-items{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    right:0;
    left: 0;
    border-radius: 0 0 32px 32px;
    padding: 10px
    
}

.menu-item-link{
    width: 200px;
    height: 150px;
    color: var(--mustard);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.menu-item-link h4{
    font-weight: 100;
}

.menu-item-link i{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 1.3em;
}
