$black: #000100;
$black-light: rgb(0,1,0,0.8);
$neutral: whitesmoke;
$orange: #FFA500;
$dark-orange: #FF8C00;
$mustard: #FFDC5E;
$tart-orange: #FF3C38;
$corn: #FFF275;
$orange-web: #FCA311;
$green-ryb: #6AB547;
$yellow-green: #7eb829;