$shadow-light: 3px 3px 3px rgb(0,0,0,0.4);
$shadow-dark: 3px 3px 3px rgb(0,0,0,0.8);
$white-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
$white-shadow-blur-spread: 0 0 20px 5px rgba(255, 255, 255, 0.8);
$white-shadow-glow:0 0 3px rgba(255, 255, 255, 0.5), 0 0 5px rgba(255, 255, 255, 0.3);
